@charset "UTF-8";

* { 
	margin: 0px; 
	padding: 0px; 
}

body { 
	line-height: 200%; 
	background-color:#FFFDDC;
	font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

h1{
	font-size: 1.5em;
	padding-bottom: 2%;
}

a {
	text-decoration: none !important;
}

.row-eq-height{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2%;
}
.top-main{
	padding: 3%;
	border-bottom:solid 0.5px #215D7E !important;
	padding-bottom: 5%;
	margin-bottom: 3%;
}

.video-style{
		padding-top:200px; 
		height:400px !important ;
}

.top-video{
	background-color: #F5DB36 ; 
	padding-top:200px; 
    max-width: 100% !important;
}

.navbar-fixed-top{
	padding-top: 30px;
}
.top-main-title {
	margin-top: 5%;
	color: #215D7E;
	font-size: 2.0em;
	text-decoration: none;
	border-bottom: 1px solid #FC7071;
	padding-bottom: 2px;
	font-family: 'Arial Black', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', Gadget;
	font-weight: 700;
	line-height: 1.5em;
}

.top-main-text-blue{
	padding-left:0;
	padding-top: 2%;
	color: #215D7E;	
}

.top-main-text-black{
	padding-left:0;
	padding-top: 2%;
}

h2{
	font-size: 1.5em;
}

section {
	margin: 5%;
}


.update-title{
	color:#FC7071;
	font-size: 1.5em;
	font-weight: 600;
	display: inline;
}

.column-main{
	margin-top: 10%;
}

.update-text{
	color: #215D7E;	
}

.button-style{
	background-color: #fff;
	border: 3px solid #F5DB36;
	color: #215D7E;
	font-weight: 600;
	margin-top:-80px; 
	position: relative; 
	z-index: 1;
}

.button-style:hover{
	background-color: #F5DB36;
	color: white;
	font-weight: 600;
	border: 3px solid #F5DB36;
}

.case-study{
	border: 0.5px solid #215D7E;
	padding: 5%;
	margin: 5% 10% 5% 10%;
	font-style: italic;
}

.entry-update{

	transition-duration:0.2s;
}

.entry-update:hover{
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-o-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
	transition-duration:0.2s;
	background-color: white;box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}


.box{
	padding:2%;
	margin-bottom:2%;
}

.copyright{
	font-weight: 500;
	z-index: 3;
	padding-top: 100px;
	text-align: center;
	color: white;
}

.site-footer {
	background:url(../images/footer_back.png) ;
	height:200px;
	z-index: 0;

}

.content-archive-row{
	padding-top: 5%;
	padding-bottom: 5%;
}


/*for Contact form 7*/

.wpcf7 input.wpcf7-text { width: 100%; } 
.wpcf7 textarea.wpcf7-textarea { width: 100%; } 
.wpcf7-form textarea { height: 200px; }